Package: libfam-atomic
Version: 1.2-1
Architecture: amd64
Maintainer: Jason Low <jason.low2@hp.com>
Installed-Size: 53
Depends: libc6 (>= 2.4)
Section: misc
Priority: optional
Description: Fabric attached memory atomic library
 This package contains the fam_atomic library, which provides
 access to the fabric attached memory atomic operations.
