#!/usr/bin/make -f

export CFLAGS = -Wall -g

DEB_BUILDDIR = build

#export DH_VERBOSE=1
export DH_OPTIONS

override_dh_auto_configure:
	autoreconf -vfi
	dh_auto_configure --builddirectory=$(DEB_BUILDDIR)

override_dh_strip:
	dh_strip --dbg-package=libfam-atomic2-dbg

%:
	dh $@ --builddirectory=$(DEB_BUILDDIR)
